*{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Verdana, sans-serif;
	line-height: 1.5;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	color: #fff;
    background-color: #1b1b1b;
	width: 100%;
 	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	padding: 10px;
	color: #d0dde3;
	font-size: x-large;
	text-align: center;
	width: 100%;
	margin: 0 auto;
    background-color: #0b0b0bad;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
	margin: 0 auto;
}

main {
	padding-bottom: 50px;
	margin-bottom: 50px;
}

nav {
    margin: auto;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline;
    list-style: none;
    background-color: #0b0b0bad;
    padding: 20px;
    border-radius: 5px;
	box-shadow: 5px 5px 5px black;
    margin: 5px;
	transition: all 1s ease-out;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
	font-size: 24px;
    padding: 30px;
    text-align: center;
	color: #D9AB50 ;
	text-shadow: 5px 5px 5px #00000099;
}

nav li:hover {
    box-shadow: 5px 5px 5px #D9AB50;
    background-color: #d8d8d850;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	transition: all 1s ease-out;
}

#logo {
	margin-top: 40px;
    filter: drop-shadow(5px 5px 5px #000);
    -webkit-filter: drop-shadow(5px 5px 5px #000);
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	text-shadow: 5px 5px 5px #000;
	transition: all 1s ease-out;
}

#logo:hover {
	transition: all 1s ease-in-out;
	transform: scale(1.1);
	filter: drop-shadow(5px 5px 5px #D9AB50);
    -webkit-filter: drop-shadow(5px 5px 5px #D9AB50);
}

h2 {
	text-align: center;
	font-size: 36px;
	color: #D9AB5f;
    text-shadow: 5px 5px 5px #000;
	overflow: hidden;
	text-align: center;
}

h2:before, h2:after {
    background-color: #0b0b0bad;
	content: "";
	display: inline-block;
	height: 5px;
	position: relative;
	vertical-align: middle;
	width: 40%;
	box-shadow: 5px 5px 5px black;
	border-radius: 2.5px;
}

h2:before {
	right: 0.75em;
	margin-left: -50%;
}

h2:after {
	left: 0.75em;
	margin-right: -50%;
}

h3 {
	text-align: center;
	font-size: 24px;
	color: #D9AB5f;
	text-shadow: 5px 5px 5px #000;
}

h4 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	text-shadow: 5px 5px 5px #000;
}

p {
	max-width: 125ch;
	margin: 18px auto;
	text-align: left;
	font-size: 18px;
	text-shadow: 5px 5px 5px #000;
}

.special {
	color: #808080ab;
	max-width: 125ch;
	margin: 18px auto;
	text-align: center;
	font-size: 18px;
	text-shadow: 5px 5px 5px #000;
}

a {
    color: #D9AB50;
}

footer {
	padding: 5px;
	text-align: center;
	width: 25%;
	margin: 0 auto;
	margin-top: 20px;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#AZBXBanner {
    height: auto;
    display: block;
    margin: 0 auto;
}

#AZBXBanner:hover {
	transform: none;
}

br {
    line-height: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myWork {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

img:hover {
	transition: all 1s ease-in-out;
	transform: scale(1.1);
}

img {
	transition: all 1s ease-out;
	margin: 50px;
	filter: drop-shadow(5px 5px 5px #000);
    -webkit-filter: drop-shadow(5px 5px 5px #000);
	margin: 0 auto;
}

iframe {
	filter: drop-shadow(5px 5px 5px #000);
    -webkit-filter: drop-shadow(5px 5px 5px #000);
}

#RayWave {
	margin: 50px;
 }

 #myWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust alignment as needed */
    align-items: flex-start;
	max-width: 1200px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Removes bottom margin/gap */
}

#logo {
	margin: 0 auto;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}